[submodule "learn_rust"]
	path = learn_rust
	url = https://github.com/duanjr/learn_rust.git
[submodule "littlefs-rust"]
	path = littlefs-rust
	url = git@github.com:duanjr/littlefs-rust.git
[submodule "records"]
	path = records
	url = git@github.com:duanjr/GraduationProjectRecords.git
